Repository Sakib25800/learn-framer-university: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/qoomon/git-conventional-commits
    rev: v2.6.3
    hooks:
      - id: conventional-commits

  - repo: local
    hooks:
      - id: lint-frontend
        name: Lint Frontend
        entry: npm run lint
        language: node
        files: ^(?!(next\.config\.ts$)).*\.(js|jsx|ts|tsx)$

      - id: prettier-frontend
        name: Prettier Frontend
        entry: npm run prettier
        language: node
        files: \.(js|jsx|ts|tsx)$

      - id: lint-backend
        name: Lint Backend
        entry: cargo fmt --check --all && cargo clippy --all-targets --all-features --workspace
        language: system
        files: \.rs$

      - id: test-backend
        name: Test Backend
        entry: cargo test --workspace
        language: system
        files: \.rs$

      - id: test-frontend
        name: Test Frontend
        entry: npm run test:unit
        language: node
        files: \.(js|jsx|ts|tsx)$

feat(web): add /sign-in
  app/components/SignInForm.tsx
  app/components/SignOutButton.tsx
  app/components/ui/button/Button.stories.tsx
  app/components/ui/button/index.tsx
  app/lib/api.ts
  app/lib/auth/actions.ts
  app/lib/middleware.ts
  app/page.tsx
  app/sign-in/page.tsx
  lib/api.ts
  shared/api/openapi.json
  shared/api/v1.d.ts
Due: lint-frontend, prettier-frontend, test-frontend

feat(web): add profile page
  app/profile/page.tsx
Due: lint-frontend, prettier-frontend, test-frontend

refactor(api): openapi spec generator command
  shared/api/openapi.json
  shared/api/v1.d.ts
  src/bin/gen_openapi.rs
Due: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

refactor(api): move health endpoint to root
  fly.api.toml
  fly.staging.api.toml
  src/controllers/health.rs
  src/router.rs
Due: lint-backend, test-backend

test(web): add auth tests
  .gitignore
  app/api/continue/[token]/route.ts
  app/components/SignInForm.tsx
  app/lib/api.ts
  app/lib/auth/actions.ts
  app/sign-in/page.tsx
  e2e/auth/signin.spec.ts
  e2e/helpers/email.ts
  e2e/home.spec.ts
  e2e/page.spec.ts
  e2e/profile.spec.ts
  e2e/setup/auth.setup.ts
  package-lock.json
  playwright.config.ts
  tsconfig.json
Due: lint-frontend, prettier-frontend, test-frontend

test(api): update continue url to use production url
  src/controllers/auth.rs
  src/tests/routes/auth/signin.rs
  src/tests/routes/auth/snapshots/learn_framer_university__tests__routes__auth__signin__signin_should_succeed_with_valid_email.snap
  src/tests/util/test_app.rs
Due: lint-backend, test-backend

test(web): improve test flows
  app/components/SignInForm.tsx
  app/lib/api.ts
  e2e/auth/signin.spec.ts
  e2e/helpers/email.ts
  e2e/home.spec.ts
  e2e/profile.spec.ts
  e2e/setup/auth.setup.ts
  playwright.config.ts
Due: lint-frontend, prettier-frontend, test-frontend

test(api): use app_url env var
  src/controllers/auth.rs
  src/tests/routes/auth/snapshots/learn_framer_university__tests__routes__auth__signin__signin_should_succeed_with_valid_email.snap
  src/tests/util/test_app.rs
Due: lint-backend, test-backend

chore: add app_url to fly settings
  fly.frontend.toml
  fly.staging.frontend.toml
Due: none

build: rename target to server
  api.Dockerfile
  api.staging.Dockerfile
Due: none

build: add APP_ENV var
  api.Dockerfile
  api.staging.Dockerfile
  fly.api.toml
  fly.staging.api.toml
  frontend.staging.Dockerfile
Due: none

build: add NEXT_PUBLIC_API_URL to frontend
  fly.frontend.toml
  fly.staging.frontend.toml
  frontend.staging.Dockerfile
  postcss.config.mjs
Due: none

refactor(api): switch from deadpool to bb8
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/bin/server.rs
  src/config/server.rs
  src/tests/util/test_app.rs
  src/util/errors/mod.rs
Due: lint-backend, test-backend

docs(api): change to bb8
  docs/API.md
Due: none

docs: add staging and production urls
  docs/ARCHITECTURE.md
Due: none

fix: add ca-certificates to Dockerfile for TLS verification
  api.staging.Dockerfile
Due: none

fix(web): add NEXT_PUBLIC_APP_URL to env vars
  app/api/continue/[token]/route.ts
  e2e/helpers/email.ts
  env.js
  fly.frontend.toml
  fly.staging.frontend.toml
  frontend.Dockerfile
  frontend.staging.Dockerfile
  src/app.rs
Due: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

chore: prettier ignore shared/
  .prettierignore
Due: none

chore(api): remove redundant tokio import
  src/bin/gen_openapi.rs
Due: lint-backend, test-backend

ci: remove ci temporarily
  .github/workflows/ci.yml
  playwright.config.ts
Due: lint-frontend, prettier-frontend, test-frontend

docs: add environments
  README.md
  docs/ARCHITECTURE.md
Due: none

build: switch from npm to pnpm
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
  README.md
  docker-entrypoint.js
  docs/ARCHITECTURE.md
  docs/FRONTEND.md
  frontend.Dockerfile
  frontend.staging.Dockerfile
  package-lock.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: lint-frontend, prettier-frontend, test-frontend

ci: add ci workflow
  .github/workflows/ci.yml
  playwright.config.ts
Due: lint-frontend, prettier-frontend, test-frontend

ci: add deployment to staging and prod
  .github/workflows/ci.yml
Due: none

docs: add environment info
  README.md
Due: none

build: update dependencies
  Cargo.lock
  Cargo.toml
  package.json
  pnpm-lock.yaml
Due: none

ci: add `engines` field to package.json
  package.json
Due: none

ci: unify deployment files
  .github/workflows/ci.yml
  .github/workflows/pr-preview.yml
  Cargo.lock
  api.Dockerfile
  api.staging.Dockerfile
  fly.api.toml
  fly.frontend.toml
  fly.staging.api.toml
  fly.staging.frontend.toml
  frontend.Dockerfile
  frontend.staging.Dockerfile
Due: none

docs: update deployment docs
  docs/ARCHITECTURE.md
Due: none

ci: fix test email retrieval
  e2e/helpers/email.ts
Due: lint-frontend, prettier-frontend, test-frontend

ci: allow manual runs
  .github/workflows/ci.yml
Due: none

fix: upgrade tailwind-merge from 3.0.1 to 3.0.2
  package-lock.json
  package.json
Due: none

Remove commit message linting
  .pre-commit-config.yaml
  git-conventional-commits.yaml
Due: none

WIP: transition migrations to SQLx format
  Cargo.toml
  migrations/00000000000000_diesel_initial_setup/down.sql
  migrations/00000000000000_diesel_initial_setup/up.sql
  migrations/2025-02-18-220255_migration_1/down.sql
  migrations/2025-02-18-220255_migration_1/up.sql
  migrations/2025-02-18-220304_migration_2/down.sql
  migrations/2025-02-18-220304_migration_2/up.sql
  migrations/2025-02-18-220305_migration_3/down.sql
  migrations/2025-02-18-220305_migration_3/up.sql
  migrations/2025-02-18-220306_migration_4/down.sql
  migrations/2025-02-18-220306_migration_4/up.sql
  migrations/2025-02-18-220307_migration_5/down.sql
  migrations/20250420151234_initial.down.sql
  migrations/20250420151234_initial.up.sql
  migrations/20250420151714_create_users_table.down.sql
  migrations/20250420151714_create_users_table.up.sql
  migrations/20250420152025_create_verification_tokens_table.down.sql
  migrations/20250420152025_create_verification_tokens_table.up.sql
  migrations/20250420152031_create_refresh_tokens_table.down.sql
  migrations/20250420152031_create_refresh_tokens_table.up.sql
  migrations/20250420152413_create_accounts_table.down.sql
  migrations/20250420152413_create_accounts_table.up.sql
Due: none

Cleanup cargo deps
  Cargo.lock
  Cargo.toml
  crates/lfu_database/Cargo.toml
Due: none

WIP: working tests
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/bin/server.rs
  src/controllers/health.rs
  src/lib.rs
  src/tests/mocks/app.rs
  src/tests/mocks/mod.rs
  src/tests/mocks/user.rs
  src/tests/mod.rs
Due: lint-backend, test-backend

WIP: more tests
  Cargo.lock
  Cargo.toml
  src/controllers/auth.rs
  src/controllers/health.rs
  src/controllers/snapshots/learn_framer_university__controllers__auth__tests__signin_sends_email.snap
  src/tests/mocks/mod.rs
Due: lint-backend, test-backend

Add route tests
  Cargo.lock
  Cargo.toml
  crates/lfu_database/Cargo.toml
  crates/lfu_database/src/models/user.rs
  crates/lfu_database/src/models/verification_token.rs
  src/app.rs
  src/auth.rs
  src/bin/server.rs
  src/controllers/auth.rs
  src/controllers/health.rs
  src/controllers/snapshots/learn_framer_university__controllers__auth__tests__signin_sends_email.snap
  src/controllers/users.rs
  src/middleware/json.rs
  src/openapi.rs
  src/router.rs
  src/tests/mocks/app.rs
  src/tests/mocks/mod.rs
  src/tests/mocks/user.rs
  src/views.rs
Due: lint-backend, test-backend
