Repository Sakib25800/learn-framer-university: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/qoomon/git-conventional-commits
    rev: v2.6.3
    hooks:
      - id: conventional-commits

  - repo: local
    hooks:
      - id: lint-frontend
        name: Lint Frontend
        entry: npm run lint
        language: node
        files: ^(?!(next\.config\.ts$)).*\.(js|jsx|ts|tsx)$

      - id: prettier-frontend
        name: Prettier Frontend
        entry: npm run prettier
        language: node
        files: \.(js|jsx|ts|tsx)$

      - id: lint-backend
        name: Lint Backend
        entry: cargo fmt --check --all && cargo clippy --all-targets --all-features --workspace
        language: system
        files: \.rs$

      - id: test-backend
        name: Test Backend
        entry: cargo test --workspace
        language: system
        files: \.rs$

      - id: test-frontend
        name: Test Frontend
        entry: npm run test:unit
        language: node
        files: \.(js|jsx|ts|tsx)$

chore: ignore .swc
  .gitignore
Due: none

chore: add example page
  .dockerignore
  .pre-commit-config.yaml
  app/another-one/page.tsx
  app/page.tsx
  backend.Dockerfile
  docker-compose.yml
  docker/docker-entrypoint-initdb.d/create-databases.sql
  frontend.Dockerfile
  src/controllers/util.rs
  src/main.rs
  src/middleware/app.rs
  src/middleware/auth.rs
  src/middleware/mod.rs
Due: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

ci: setup fly deployments
  .dockerignore
  .github/workflows/deploy.yml
  Cargo.lock
  Cargo.toml
  app/another-one/page.tsx
  backend.Dockerfile
  docker-entrypoint.js
  docker_entrypoint.sh
  eslint.config.mjs
  fly.backend.toml
  fly.frontend.toml
  frontend.Dockerfile
  migrations/2025-02-03-202613_auth/down.sql
  next.config.ts
  package-lock.json
  package.json
  src/config/server.rs
  src/main.rs
  src/schema.rs
  src/tests/util/test_app.rs
Due: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

chore: add pre-commit config
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  src/schema.rs
Due: lint-backend, test-backend

ci: separate visual deployments
  .github/workflows/ci.yml
  git-conventional-commits.yaml
Due: none

test: fix dummy test
  app/page.tsx
Due: lint-frontend, prettier-frontend, test-frontend

ci: speed up ci
  .github/workflows/ci.yml
Due: none

ci: fix ci
  .github/workflows/ci.yml
Due: none

ci: update build env and args
  fly.backend.toml
  fly.frontend.toml
Due: none

ci: add staging deployments
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  api.Dockerfile
  api.staging.Dockerfile
  docs/API.md
  docs/ARCHITECTURE.md
  fly.api.toml
  fly.backend.toml
  fly.frontend.toml
  fly.staging.api.toml
  fly.staging.frontend.toml
  frontend.staging.Dockerfile
Due: none

chore: rename to learn-framer-university
  Cargo.lock
  Cargo.toml
  README.md
  api.Dockerfile
  api.staging.Dockerfile
  docs/ARCHITECTURE.md
  docs/FRONTEND.md
  package-lock.json
  package.json
Due: none

docs: spelling mistakes
  docs/FRONTEND.md
Due: none

ci: update names
  .github/workflows/ci.yml
Due: none

ci: use changed files rather than unchanged files
  .github/workflows/ci.yml
Due: none

chore: set API_URL to public
  app/another-one/page.tsx
  env.mjs
Due: lint-frontend, prettier-frontend, test-frontend

ci: add API_URL to build args
  fly.frontend.toml
  fly.staging.frontend.toml
  frontend.Dockerfile
  frontend.staging.Dockerfile
Due: none

chore: add health checks to api
  fly.api.toml
  fly.staging.api.toml
Due: none

docs: update docs
  Cargo.lock
  README.md
  docs/API.md
  docs/FRONTEND.md
Due: none

feat: add email sending with mailgun
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/config/server.rs
  src/email.rs
  src/main.rs
  src/tests/util/test_app.rs
  src/util/errors/mod.rs
Due: lint-backend, test-backend

feat: passwordless auth
  Cargo.lock
  Cargo.toml
  README.md
  app/another-one/page.tsx
  docs/API.md
  fly.api.toml
  fly.staging.api.toml
  migrations/2025-02-03-202613_auth/up.sql
  src/config/server.rs
  src/controllers/auth.rs
  src/controllers/health.rs
  src/controllers/metrics.rs
  src/controllers/mod.rs
  src/controllers/user/me.rs
  src/controllers/user/mod.rs
  src/email.rs
  src/middleware/json.rs
  src/middleware/path.rs
  src/models/user.rs
  src/models/verification_token.rs
  src/router.rs
  src/schema.rs
  src/sentry.rs
  src/util/errors/mod.rs
Due: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

test: passwordless auth tests
  src/tests/mod.rs
  src/tests/routes/auth/mod.rs
  src/tests/routes/auth/signin.rs
  src/tests/routes/auth/snapshots/learn_framer_university__tests__routes__auth__signin__signin_should_succeed_with_valid_email.snap
  src/tests/routes/me/get.rs
  src/tests/routes/me/mod.rs
  src/tests/routes/mod.rs
  src/tests/util/mod.rs
  src/tests/util/test_app.rs
Due: lint-backend, test-backend

chore: update production origins
  fly.api.toml
  fly.frontend.toml
Due: none

chore: add some defaults to env
  src/config/server.rs
  src/tests/util/test_app.rs
Due: lint-backend, test-backend

docs: update wording
  docs/ARCHITECTURE.md
Due: none

chore: add commit scopes to commit linting
  git-conventional-commits.yaml
Due: none

chore(web): install missing packages
  package-lock.json
Due: none

feat(web): add landing page
  .github/workflows/ci.yml
  .storybook/preview.ts
  app/another-one/page.tsx
  app/components/Button/Button.stories.tsx
  app/components/Button/Button.test.tsx
  app/components/Button/Button.tsx
  app/components/Button/index.tsx
  app/components/Icons.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  package-lock.json
  package.json
  postcss.config.mjs
  public/favicon.ico
  public/file.svg
  public/fonts/university-sans-bold.woff2
  public/fonts/university-sans-medium.woff2
  public/fonts/university-sans-regular.woff2
  public/fonts/university-sans-semibold.woff2
  public/globe.svg
  public/images/icon-dark.png
  public/images/icon-light.png
  public/next.svg
  public/vercel.svg
  public/window.svg
  tailwind.config.ts
  tsconfig.json
Due: lint-frontend, prettier-frontend, test-frontend

test(api): add test for openapi route
  src/openapi.rs
  src/tests/routes/auth/signin.rs
  src/tests/util/mod.rs
Due: lint-backend, test-backend

chore(api): add return responses
  src/controllers/auth.rs
  src/controllers/health.rs
  src/views.rs
Due: lint-backend, test-backend

feat(api): add swagger ui
  Cargo.lock
  Cargo.toml
  src/openapi.rs
  src/router.rs
Due: lint-backend, test-backend

chore: split migrations further
  migrations/2025-02-03-202613_auth/down.sql
  migrations/2025-02-03-202613_auth/up.sql
  migrations/2025-02-18-220255_migration_1/down.sql
  migrations/2025-02-18-220255_migration_1/up.sql
  migrations/2025-02-18-220304_migration_2/down.sql
  migrations/2025-02-18-220304_migration_2/up.sql
  migrations/2025-02-18-220305_migration_3/down.sql
  migrations/2025-02-18-220305_migration_3/up.sql
  migrations/2025-02-18-220306_migration_4/down.sql
  migrations/2025-02-18-220306_migration_4/up.sql
  migrations/2025-02-18-220307_migration_5/down.sql
  migrations/2025-02-18-220307_migration_5/up.sql
Due: none

refactor(api): restructure backend
  Cargo.lock
  Cargo.toml
  crates/lfu_database/Cargo.toml
  crates/lfu_database/README.md
  crates/lfu_database/src/lib.rs
  crates/lfu_database/src/models/account.rs
  crates/lfu_database/src/models/mod.rs
  crates/lfu_database/src/models/refresh_token.rs
  crates/lfu_database/src/models/user.rs
  crates/lfu_database/src/models/verification_token.rs
  crates/lfu_database/src/schema.rs
  crates/lfu_test_database/Cargo.toml
  crates/lfu_test_database/README.md
  crates/lfu_test_database/src/lib.rs
  diesel.toml
  docs/API.md
  src/app.rs
  src/auth.rs
  src/bin/server.rs
  src/config/mod.rs
  src/config/server.rs
  src/controllers/auth.rs
  src/email.rs
  src/lib.rs
  src/metrics/service.rs
  src/middleware/log_request.rs
  src/middleware/mod.rs
  src/models/refresh_token.rs
  src/models/user.rs
  src/openapi.rs
  src/tests/mod.rs
  src/tests/util/mod.rs
  src/tests/util/test_app.rs
  src/util/errors/mod.rs
Due: lint-backend, test-backend

feat(api): add openapi json generation
  Cargo.lock
  Cargo.toml
  crates/lfu_database/README.md
  shared/openapi.json
  src/bin/gen_openapi.rs
  src/openapi.rs
  src/router.rs
Due: lint-backend, test-backend

chore(api): update openapi title
  shared/openapi.json
  src/openapi.rs
Due: lint-backend, test-backend

chore(api): improve error response
  src/util/errors/json.rs
  src/util/errors/mod.rs
Due: lint-backend, test-backend

feat: add typed openapi endpoints
  Cargo.lock
  Cargo.toml
  docs/API.md
  docs/ARCHITECTURE.md
  env.js
  lib/api.ts
  package-lock.json
  package.json
  shared/api/openapi.json
  shared/api/v1.d.ts
  shared/openapi.json
  src/bin/gen_openapi.rs
  src/controllers/auth.rs
  src/controllers/health.rs
  src/router.rs
  src/tests/routes/auth/signin.rs
  src/util/errors/json.rs
  src/util/errors/mod.rs
  tsconfig.json
Due: lint-frontend, prettier-frontend, lint-backend, test-backend, test-frontend

feat(api): add /v1/users/me route
  docs/API.md
  src/auth.rs
  src/controllers/auth.rs
  src/controllers/metrics.rs
  src/controllers/mod.rs
  src/controllers/users.rs
  src/router.rs
  src/tests/routes/mod.rs
  src/tests/routes/users/me.rs
  src/tests/routes/users/mod.rs
  src/tests/util/test_app.rs
  src/util/errors/json.rs
  src/util/errors/mod.rs
  src/views.rs
Due: lint-backend, test-backend

chore(api): add app_url config var
  src/config/server.rs
  src/controllers/auth.rs
  src/controllers/health.rs
  src/controllers/users.rs
  src/router.rs
  src/tests/util/test_app.rs
Due: lint-backend, test-backend

feat(web): add continue token routes
  app/api/continue/[token]/route.ts
Due: lint-frontend, prettier-frontend, test-frontend
